<footer>
    <div class="container">
        <div class="content_footer  center">
            <div class="title">
                <h1 (click)="home()">DEEPSHOP</h1>
            </div>
            <div class="menu">
                <div class="title">
                    <h4>Menu</h4>
                </div>
                <div class="content">Home</div>
                <div class="content">About Us</div>
                <div class="content">Categoris</div>
            </div>
            <div class="menu">
                <div class="title">
                    <h4>Market</h4>
                </div>
                <div class="content">Manage</div>
                <div class="content">Buy Us</div>
                <div class="content">Sell</div>
            </div>
            <div class="menu">
                <div class="title">
                    <h4>Contact</h4>
                </div>
                <div class="content">Email</div>
                <div class="content">LinkedIn</div>
                <div class="content">Instagram</div>
            </div>
            <div class="menu">
                <div class="title">
                    <h4>Join Us</h4>
                </div>

                <div class="email">
                    <input type="email" name="email" placeholder="Email .." required />
                    <button type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</footer>