

.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 2px solid #7F5539;
  text-align: center;
  color: #5b3d29;
}

.first_child i{
    font-size: 2000%;
    z-index: -1;
    margin-bottom: 10%;
}
.second{
    z-index: 1;
    margin-left: -10%;
    display: flex;
    align-items: flex-end;     
}
.second-hild{
    background:#EDE0D4;
    width: 220px;
    height: 220px;
    border-radius: 50%; 
    margin-top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.second-hild i{
    font-size: 200px;
}

img{
    height: 100px;
    width: auto;
    border-radius: 20px;
}
td .row{
    gap: 15%;
}

.checkbox input[type="checkbox"] {
  display: none;
}

/* Style the label text */
.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 16px;
  user-select: none;
}

/* Style the custom checkmark box */
.checkbox .checkmark {
  height: 20px;
  width: 20px;
  background-color: rgba(236, 197, 170, 0.2);
  border: 2px solid #c3997e;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  transition: all 0.2s ease;
}

/* Add the checkmark (hidden by default) */

.green input[type="checkbox"]:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid green;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.red input[type="checkbox"]:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid red;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Change background when checked */
.green input[type="checkbox"]:checked + .checkmark{
  background-color: rgba(236, 197, 170, 0.2);
    border-color: green;
}
.red input[type="checkbox"]:checked + .checkmark{
  background-color: rgba(236, 197, 170, 0.2);
    border-color: red;
}
/* .modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal{
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 80%;
  height: 90%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  place-content: center;
  place-items: center;
  display: block;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  overflow-y: auto;
}
.modal-overlay .close{
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 0px;
  margin-bottom: 10px;
}
.close button{
width: 30px;
height: 30px;
display: flex;
text-align: center;
justify-content: center;
border-radius: 20px;
border: 2px solid #5b3d29;
}
.close i{
margin-top: 2px;
font-size: 20px;
color: #5b3d29;
cursor: pointer;
}
.modal input{
  border-bottom-left-radius:20px;
  border-top-left-radius: 20px;
    border: 2px solid #7f5539;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    place-content: center;
    place-items: center;
    width: 50%;
    height:40px
}
.modal .percent{
  border-top:2px solid #7f5539 ;
  border-bottom:2px solid #7f5539 ;
  border-right: 2px solid #7f5539 ;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  height: 40px;
  width: 40px;
  background-color: rgba(127, 85, 57,0.4);
  color: #5b3d29;
  font-size: 20px;
}
form .row{
  margin-bottom: 25px;
}
form button{
  width: 70px;
  height: 40px;
  border: 2px solid #5b3d29;
  border-radius: 10px;
  background-color: rgba(103, 70, 48, 0.4);
  color: #5b3d29;
  font-size: 20px;
}
h1{
  margin-bottom: 15px;
}
.code button {
  border: none;
}
@media(max-width:900px){
    .first_child i{
    font-size: 1500%;
}
.second{
    margin-top: -10%;
    margin-left: -15%;    
}
.second-hild{
    width: 150px;
    height: 150px;
}
.second-hild i{
    font-size: 120px;
}
}

@media(max-width:520px){
    .first_child i{
    font-size: 1000%;
}
.second{
   
    margin-left: -15%;    
}
.second-hild{
    width: 100px;
    height: 100px;
     margin-top: 150%;
}
.second-hild i{
    font-size: 80px;
}
}
@media(max-width:330px){
    .first_child i{
    font-size: 500%;
}
.second{
   
    margin-left: -15%;    
}
.second-hild{
    width: 60px;
    height: 60px;
     margin-top: 150%;
}
.second-hild i{
    font-size: 50px;
}
}