<div class="container">
    <div class="featured">
        <div class="content_featured">
            <div class="content_caroussel">
                <div class="title">
                    <h4>featured on</h4>
                </div>
                <div class="carousel">
                    <div class="carousel-track">
                        <div class="slide" href="homeLiving">Home & Furniture</div>
                        <div class="slide" href="electronic">Electronic</div>
                        <div class="slide" routLink="networking&device">Networking & Devices</div>
                        <div class="slide" href="fashion">Fashion</div>
                        <div class="slide" href="beauty">Beauty</div>
                        <div class="slide" href="supermarket">Supermarket</div>
                        <div class="slide" href="supermarket">Animals</div>
                        <div class="slide" href="supermarket">Craft</div>
                    </div>
                </div>

            </div>
            <div class="content">
                <div class="img_content">
                    <div class="img">
                        <img src="../../../assets/img/boy.png"  alt="image_AU">
                    </div>
                </div>
                <div class="text_content">
                    <div class="about_us">
                        ABOUT US
                    </div>
                    <div class="title">
                        We’re Here To Help You Express The Real You
                    </div>
                    <div class="sub_title">
                        Built For Creators, Dreamers, And Everyday Icons.
                    </div>
                    <div class="btn">
                        <button (click)="categoris()" >
                            Discover Us
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>