.content {
    padding: 40px 0px;
}

.row-xr {
    display: flex;
    flex-direction: row;
}
.row-start{
    display: flex;
    flex-direction: row;
}

.back i {
    margin-bottom: 10px;
    font-size: 40px;
    cursor: pointer;

}

.back i:hover {
    color: #593b28;
}

.back button {
    border: none;
}

img {
    border-radius: 20px;

}

.width100 {
    width: 100%
}

.imags_container {
    width: 40%;
    height: 80vh;
    object-fit: contain;
    margin: 0 auto;
}

.all-photos button {
    border: 1px solid #7F5539;
    border-radius: 20px;
    width: 100%;
    height: 140px;
    cursor: pointer;
}

.all-photos button img {
    height: 140px;
    cursor: pointer
}

button:focus {
    border: 2px solid #593b28;
}

.colors {
    place-content: center;
    place-items: center;
    margin-bottom: 15px;
}

.color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #593b28;
    cursor: pointer;

}
.color.active {
    border: 3px solid #593b28;

}

.gap {
    gap: 5%;
}
.gap100{
    gap: 100px;
}

.details {
    width: 50%;
    height: auto;

}

.gender {
    border: 2px solid #7F5539;
    width: 170px;
    height: 30px;
    border-radius: 50px;
    place-content: center;
    text-align: center;
    color: #593b28;
    font-size: 25px;
    font-weight: 400;
}

.name {
    font-size: 40px;
    color: #593b28;
    font-weight: 200;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.recent_price {
    text-decoration: line-through;
    color: #7F5539;
    font-size: 20px;
    margin-top: 12px;
}

.percent {
    color: #593b28;
    /* font-size: 40px; */
    font-weight: 700;

}

.discount {
    font-size: 40px;
    color: #593b28;
    font-weight: 200;
}

.price {
    color: #7F5539;
    font-size: 20px;
    font-weight: 700;
}

.sale {
    text-align: center;
    font-size: 25px;
    color: #7F5539;
}

.gap15 {
    gap: 15px;
}
.gap10px{
    gap: 10px;
}
.gap50{
    gap: 50px;
}
.level {
    height: 40px;
    place-items: center;
    color: #7F5539;
    gap: 2%;
    /* width: 150px; */
    font-size: 20px;
}

.size {
    width: 10%;
    height: 10%;
    border: 2px solid #7F5539;
    border-radius: 50px;
    color: #7F5539;
    background: transparent;
    place-content: center;
    place-items: center;
    text-align: center;
    margin-bottom: 10px;
    gap: 5%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;

}

.size.active {
    background: #7F5539;
    color: #EDE0D4;
    transform: scale(1.1);
}

.status {
    /* height: 40px; */
    place-content: start;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid #7F5539;
    text-align: start;
    color: #7F5539;
    place-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;

}

.weight {
    font-weight: 700;
    margin-left: 5px;
}

.shop {
    width: 100%;
    height: 50px;
    place-content: start;
    place-items: center;
    margin-bottom: 10px;
}

.add_shop {
    /* width: 70%;
    border-radius: 20px;
    border: 2px solid #7F5539;
    background: #7F5539;
    height: 100%;
    place-items: center;
    place-content: center;
    text-align: center  ; */
    width: 80%;
}

.add_shop button {
    width: 100%;
    border-radius: 20px;
    border: 2px solid #7F5539;
    background: #7F5539;
    height: 50px;
    text-align: center;
}

.add_shop button i {
    font-size: 40px;
    background-color: transparent;
    color: #EDE0D4;
}

.fav button {
    width: 50px;
    border-radius: 20px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #7F5539;
    background: transparent;
    place-content: center;
    place-items: center;
    text-align: center;
    cursor: pointer;
}

.fav {
    cursor: pointer;
}

.fav button i {
    font-size: 30px;
    background: transparent;
    cursor: pointer;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: all 0.3s ease;
    color: #7F5539;
}

#toggle:checked~.description {
    -webkit-line-clamp: unset;
}

.more {
    color: #593b28;
    cursor: pointer;
    text-decoration: underline;
    font-size: 17px;
}

#toggle {
    display: none;

}

.review{
    width: 100%;
    background: transparent;
}
.rating{
    margin-top: 5%;
    width: 50%;
    height: auto;
    margin-bottom: 5%;

}
.border {
 border: 2px solid #7F5539;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 border-radius: 50px;
 width: 100%;
 height: 100%;
}
.margin10{
    margin-left: 5%;
}
.rating button{
    border: none;
    width: 100%;
    background: transparent;
}
.rating button i{
    border: none;
    font-size: 35px;
    cursor: pointer;
    background: transparent;
    color: gold;
}
.starts{
    text-align: center;
    color: #7F5539;
    font-size: 25px;
    margin-left: 40%;
}
.starts p{
    font-weight: 700;
    font-size: 70px;
    margin-top: -20px;
}
.line{
    height: 5px;
    background-color: gold;   
    margin-top: 8px;
    border-radius: 50px;
}

/* user photo  */
.reviews img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.commentaires {
    place-content: center;
    place-items: center;
    text-align: center;
    margin-top: 40px;
    height: 300px;
    overflow-x: auto;
    display: block;
}

 .commentaires::-webkit-scrollbar {
    margin-top: 50px;
    height: 8px; 
}

 .commentaires::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
 .commentaires::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #e6ccb2, #7F5539);
    border-radius: 10px;
    transition: background 0.3s ease;
}

 .commentaires::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg,#c1a284, #60402a);
} 
.fullname{
    font-size: 20px;
    font-weight: 700;
    color: #593b28;
}
.comment{
    font-size: 18px;
    color: #7F5539;
    width: 80%;
    text-align: justify;
    margin-left: 15px;
   
}
.reviews{
    margin-top: 5%;
}
.content_comment{
    border: 2px solid #7F5539;
    border-radius: 20px;
    width: 90%;
     margin-bottom: 5px;
    margin-top: 10px;
    box-sizing: border-box;

}
.addComment{
    width: 90%;
    margin-left: 35px;
    margin-top: 10px;
    place-content: center;
}
.addComment label{
    font-size: 20px;
    color: #7F5539;

}
.addComment textarea{
    width: 80%;
    height: 30px;
    border: 2px solid #7F5539;
    border-radius: 10px;
    padding: 12px 15px;
    
}
.addComment textarea:focus{
    border: 3px solid #593b28;
    
}
.addComment button{
    border: 2px solid #7F5539;
    width: 150px;
    border-radius: 20px;
    font-size: 30px;
    color: #7F5539;
    margin-bottom: 20px;
    margin-top: 10px;
}
.addComment button:hover{
    border: 2px solid #593b28;
    color: #EDE0D4;
    background: #593b28;
}






.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.spinner {
  border: 6px solid #f3f3f3; 
  border-top: 6px solid #3498db; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}








@media(max-width:1350px){
    .row-start{
    display: flex;
    flex-direction: column;
    width: 100%;
    place-content: center;
    place-items: center;
}
}
@media(min-height:800px) {
    .imags_container img {
        height: 70vh;
    }

}

@media(max-width:780px) {
    .row-xr {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .imags_container {
        width: 80%;
        height: 80vh;
        object-fit: contain;
        margin: 0 auto;
    }

    .details {
        width: 100%;
        height: auto;
        place-content: center;
        place-items: center;
    }

    .content_details {
        width: 80%;
        height: auto;
        place-content: center;
        /* place-items: start; */
    }
}
@media(max-width:350px) {
.rating button i{
    font-size: 25px;
}
.line{
    width: 150px;

}
.review_starts{
    margin-left: -20px;
} 
.addComment textarea{
    width: 80%;
    height: 30px;
    border: 2px solid #7F5539;
    border-radius: 10px;
    padding: 12px 0px;
    
}

}