
<app-navbar></app-navbar>
<div class="container">
  <div class="width100 start ">
        <div class="back">
            <button (click)="goBack()"><i class="fa-solid fa-arrow-left"></i></button>
        </div>
    </div>
    
    <div class="content_profil">
        <div class="personnel_informations">
            <div class="title">
                <img src={{img}} alt="">
                <i (click)="openEditPhotoModal()" class="fa-solid fa-pen"></i>
            </div>
            <div class="content">
                <div class="content_personnel_informations">
                    <div class="informations">
                        <div class="profil">
                            <div class="" style="margin-top: 60px;"></div>
                            <div class="fullname">
                                <div class="nom">
                                    @if(nom && prenom){
                                    <p>{{nom}}</p>
                                    }@else {
                                    <div class="empty_content">
                                        enter your name full name
                                    </div>

                                    }
                                </div>
                                <div class="prenom">
                                    @if(prenom ){
                                    <p>{{prenom}}</p>
                                    }
                                </div>
                            </div>

                            <div class="phone">
                                @if(phone){
                                <p>PHONE: {{phone}}</p>
                                }@else {
                                <div class="empty_content">
                                    enter your phone number
                                </div>
                                }
                            </div>
                            <div class="email">
                                <p>EMAIL: {{email}}</p>
                            </div>
                            <div class="date_naissance ">
                                @if(date_naissance){
                                <p>{{date_naissance}}</p>
                                }@else {
                                <div class="empty_content">
                                    Please share your birthdate with us
                                </div>
                                }
                            </div>
                            <div class="socialMediam" style="margin-top: 3%;">
                                @if(instagramme){
                                <div class="insta"> <a href={{instagramme}}><i class="fa-brands fa-instagram"></i></a>
                                </div>
                                }@else{
                                <div class="insta"> <a><i class="fa-brands fa-instagram"></i></a>
                                </div>
                                }
                                @if(facebook){
                                <div class="fb"><a href={{facebook}}><i class="fa-brands fa-facebook"></i></a></div>
                                }@else{
                                <div class="fb"><a><i class="fa-brands fa-facebook"></i></a></div>

                                }
                                @if(tiktok){
                                <div class="tiktok"><a href={{tiktok}}><i class="fa-brands fa-tiktok"></i></a></div>
                                }@else{
                                <div class="tiktok"><a><i class="fa-brands fa-tiktok"></i></a></div>

                                }


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contents">
            <div class="content">
                <div class="contentInfo column">
                    <div class="edit_profil" (click)=" openEditProfilModal()">
                        <h3>Edit Profil <i class="fa-solid fa-pen"></i></h3>
                    </div>
                    <h4>About me:</h4>
                    <div class="row">
                        @if(description){
                        <p> {{description}}</p>
                        }@else {
                        <div class="empty_content">
                            Share something about yourself here
                        </div>

                        }
                    </div>
                    <div class="row">
                        <h5>Adresse:</h5>
                        @if(local){
                        <p>{{local}}</p>
                        }@else {
                        <div class="empty_content">
                            Share your address with us
                        </div>
                        }
                    </div>
                    <div class="row">
                        <h5>Nationality:</h5>
                        @if(nationality){
                        <p>{{nationality}}</p>
                        }@else {
                        <div class="empty_content">
                            Share your address with us
                        </div>
                        }
                    </div>
                    <div class="row">
                        <h5>Gender:</h5>
                        @if(nationality){
                        <p>{{sexe}}</p>
                        }@else {
                        <div class="empty_content">
                            Share your Gender with us
                        </div>
                        }
                    </div>
                    <div class="row">
                        <h5>Website:</h5>
                        @if(site){
                        <p> {{site}}</p>
                        }@else {
                        <div class="empty_content">
                            share with us your website: https://yourwebsite.com
                        </div>
                        }

                    </div>
                </div>
                <br><br>
            </div>
            <div class="content">
                <div class="fav row" (click)="favorite()">
                    <div class="left">
                        <i class="fa-solid fa-star" ></i>
                        <h6 (click)="favorite()">Favorite</h6>
                    </div>
                    <i class="fa-solid fa-chevron-right" (click)="favorite()"></i>
                </div>
                <div class="historique row" (click)="  history()">
                    <div class="left">
                        <i class="fa-solid fa-clock-rotate-left" (click)="  history()"></i>
                        <h6 >History </h6>
                    </div>
                    <i class="fa-solid fa-chevron-right" (click)="  history()"></i>
                </div>
                <div class="logOut row" (click)=" openModal()">
                    <div class="left" >
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <h6> logOut </h6>
                    </div>
                    <i class="fa-solid fa-chevron-right"></i>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- dialog log out -->
<div class="modal-overlay" *ngIf="isModalOpen">
    <div class="modal">
        <div class="close">
            <button type="button" (click)="closeModal()">
                X
            </button>
        </div>
        <h2>Confirm Logout</h2>
        <p>Are you sure you want to log out?</p>
        <div class="btns">
            <button (click)="closeModal()">Close</button>
            <button (click)=" logout()">Logout</button>
        </div>


    </div>
</div>
<!-- dialog edit photo -->
<div class="modal-overlay" *ngIf="isModalEditPhotoOpen">
    <div class="modal">
        <div class="close">
            <button type="button" (click)="closeEditPhotoModal()" >
                <i class="fa-solid fa-xmark"></i>
            </button>
            
        </div>
        <div class="column">
            <div class="custom-file-upload">
                    <button >
                <label for="fileInput" class="custom-file-upload">

                    <div class="column">
                        +
                        <i class="fa-solid fa-camera"></i>
                        <input type="file" id="fileInput" (change)="onFileSelected($event)" />
                    </div>
                </label>

                    </button>
                    

                <p *ngIf="fileName">{{ fileName }}</p>
                <div class="upload" >
                    <button (click)="uploadPhoto()" [disabled]="isLoading">Save</button>
                    @if(isLoading){
                            <div class="loader"></div>
                        }
                </div>
            </div>
        </div>
        @if(uploadErrorMessage){
        <div class="error_message">
            {{ uploadErrorMessage }}
        </div>
        }








    </div>
</div>

<!-- dialog Edit profil-->
<div class="modal-overlay" *ngIf="isModalEditProfilOpen">
    <div class="modal" style="height: 90vh; width:80%">
        <div class="close" style="margin-top: 0%;">
            <button type="button" (click)="closeEditProfilModal()">
                X
            </button>
        </div>
        <form (ngSubmit)="onSubmit()">
            <div class="edit column">
                <div class="row">
                    <div class="column">
                        <label for="nom"> First Name:</label>
                        <input type="text" name="nom" id="nom" placeholder="First Name .." [(ngModel)]="nom" required>
                    </div>
                    <div class="column">
                        <label for="prenom"> Last Name:</label>
                        <input type="text" name="prenom" id="prenom" placeholder="Last Name .." [(ngModel)]="prenom"
                            required>
                    </div>
                </div>
                <div class="column">
                    <label for="Gender">Gender: </label>
                    <div class="row">
                        <div class="row">
                            <input type="radio" name="gender" value="male" [(ngModel)]="sexe">
                            <h6>Male</h6>
                        </div>
                        <div class="row">
                            <input type="radio" name="gender" value="female" [(ngModel)]="sexe">
                            <h6>Female</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label for="adresse">Adresse:</label>
                        <input type="text" name="adresse" id="adresse" placeholder="Adresse" [(ngModel)]="adresse"
                            required>
                    </div>
                    <div class="column">
                        <label for="local">Location:</label>
                        <input type="text" name="local" id="local" placeholder="Location" [(ngModel)]="local" required>
                    </div>

                </div>
                <div class="row">
                    <div class="column">
                        <label for="nationality">Nationality:</label>
                        <input type="text" name="nationality" id="nationality" placeholder="Nationality"
                            [(ngModel)]="nationality" required>
                    </div>
                    <div class="column">
                        <label for="date_naissance">BirthDate:</label>
                        <input type="date" name="date_naissance" id="date_naissance" placeholder="BirthDate"
                            [(ngModel)]="date_naissance" required>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label for="phone">Phone:</label>
                        <input type="tel" name="phone" id="phone" placeholder="phone" [(ngModel)]="phone" required>
                    </div>
                    <div class="column">
                        <label for="facebook">Facebook:</label>
                        <input type="text" name="facebook" id="facebook" placeholder="Please enter your Facebook URL."
                            [(ngModel)]="facebook" required>
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        <label for="">Instagrame:</label>
                        <input type="text" name="instagramme" id="instagramme"
                            placeholder="Please enter your Instagrame URL." [(ngModel)]="instagramme" required>
                    </div>
                    <div class="column">
                        <label for="tiktok">TikTok:</label>
                        <input type="text" name="tiktok" id="tiktok" placeholder="Please enter your Tiktok URL."
                            [(ngModel)]="tiktok" required>
                    </div>


                </div>
                <div class="column">
                    <label for="descriotion">Description:</label>
                    <input type="text" name="description" id="description" placeholder="Description .."
                        [(ngModel)]="description" required>
                </div>
            </div>
            <button type="submit" class="transparent" style="width: 100px; height: 30px; border-radius: 20px; border: solid 2px #7F5539; color: #7F5539; font-size: 20px; margin-top: 5px;" [disabled]="isLoading" >save</button>
            @if(isLoading){
                            <div class="loader"></div>
                        }
        </form>
    </div>
</div>

@if(editsucces){
<div class="succes">
    <div class="succes_message">
        {{editsucces}}
    </div>
</div>
}
@if(uploadMessage){
<div class="succes">
    <div class="succes_message">
        {{uploadMessage}}
    </div>
</div>
}