<div class="container">
    <div class="content_information">
        <div class="text_content">
            <div class="title">
                Read What Others Have To Say
            </div>
        </div>

        <div class="cards">
            <div class="content_img_card">
                <div class="img">
                    <img src="../../../assets/img/management.png" alt="">
                </div>
                <div class="card">
                    <div class="content_card">

                        <div class="text_content">
                            <div class="title">
                                Shop Management
                            </div>
                            <div class="text">
                                <div class="note">Shop Manager Dashboard</div>
                                <div class="note">Product Management</div>
                                <div class="note">Sales Calculation</div>
                                <div class="note">Order Management</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="content_img_card">
                <div class="img">
                    <img src="../../../assets/img/personnal_shop.png" alt="">
                </div>
                <div class="card">
                    <div class="content_card">

                        <div class="text_content">
                            <div class="title">
                                Personalized Shopping
                            </div>
                            <div class="text">
                                <div class="note">Choose Your Style</div>
                                <div class="note">Make Your Review</div>
                                <div class="note">Select Your Favorites</div>
                                <div class="note">Edit Your Shop</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="content_img_card">
                <div class="img">
                    <img src="../../../assets/img/marketing.png" alt="marketing">
                </div>
                <div class="card">
                    <div class="content_card">

                        <div class="text_content">
                            <div class="title">
                                Marketing
                            </div>
                            <div class="text">
                                <div class="note">Send Emails & Notifications</div>
                                <div class="note">Create Coupons & Offers</div>
                                <div class="note">Customer Analytics</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="started">
            <div class="text_content">
                <div class="title">
                    <h4>Are You Ready</h4>
                </div>
                <div class="text">
                    Be A Part Of The Next Big Thing
                </div>
                <div class="btn">
                    <button (click)="signUp()">
                        GET STARTED
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>