.content_information .cards{
    display: flex;
    flex-direction: row;
    gap: 15%;
    justify-content: center;
    background: transparent;
    width:100%
}
.card{
    background:#E6CCB2 ;
    width: 250px;
    height: 350px;
    border-radius: 50px;
    margin-top: -30px;
    z-index: 1;
}
.content_information,.content_information .cards,.content_information .title,.content_information .note,.content_information .text, .content_information .card .content_card,.content_information  .img,.content_information .text_content,.content_information .btn,.content_information .title h4,.content_img_card {
    background: transparent;
}
.content_img_card{
    display: grid;
    text-align: center;

}
.content_img_card .img{
    z-index: 2;

}
.content_information img{
    width:100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(127, 85, 57,0.8);
    margin-top: 15px;
}
.content_information .title{
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
     margin-bottom: 30px;
}
.content_information .title h4{
    margin-top: 40px;

}
.content_information .note{
    color: #7F5539;
    text-align:center;
    margin-bottom: 10px;
}
.started{
    background: linear-gradient(to right, #E6CCB2 , #976c4f);
    height: 350px;
    border-radius: 50px;
}
.content_information .started .text_content .text {
    color: #7F5539;
    margin: 0 auto 10px auto; /* top: 0, bottom: 10px, left/right: auto */
    font-size: 70px;
    width: 50%;
    text-align: center; /* center the text inside the div */
}
.content_information .started{
    text-align: center;
}
.content_information .started .text_content .title{
    font-size: 30px;
    font-weight: 500;
}
.content_information .started .btn button{
    width:170px;
    height: 40px;
    border-radius: 50px;
    border: #7F5539 3px solid;
    background:#7F5539 ;
    color: #E6CCB2;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;

}
.content_information .started .btn button:hover,.content_information .started .btn button:focus{
    border: none;
    background:#E6CCB2;
    color: #7F5539;
    cursor: pointer;
}
@media(max-width:1180px){
    .content_information .started .text_content .text {
width: 70%;
font-size:60px;
}
.content_information .cards{
    gap: 5%;
}
}
@media(max-width:900px){
.content_information .cards{
    gap: 5%;
}
}

@media(max-width:850px){
.content_information .started .text_content .text {
    font-size: 50px;
}
.content_information .cards {
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center; 
    gap: 40px;
    text-align: center;
}
}
@media(max-width:700px){
.content_information .title{
    text-align: center ;
    width: 100%;
}
}
@media(max-width:450px){
.content_information .started .text_content .title{
    font-size: 25px;
    font-weight: 400;
}
.content_information .started .text_content .text {
    font-size: 50px;
    width: 100%;
}
.content_information .started .btn button{
    width:160px;
    height: 40px;
    font-size: 17px;
    font-weight: 400;

}
}
@media(max-width:315px){

.content_information .started .text_content .text {
    font-size: 35px;
    width: 100%;
}

}