<div class="header">
    <div class="content_header">
        <div class="text_header">
            <div class="content_text">
                <div class="title_header">
                    <h1>
                        Discover Your Style, Collect Your Favorites
                    </h1>
                </div>
                <div class="sub_title_header">
                    <h5>
                        Turn Your Vibe Into Reality.
                    </h5>
                    <h5>
                        Click It, Love It, and Live It.
                    </h5>
                </div>
                <div class="btns">
                    <div class="first_btn">
                        <button (click)="categoris()">
                            Categoris
                        </button>
                    </div>
                    <!-- <div class="second_btn">
                        <button (click)="categoris()">
                            Soldes
                        </button>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="img_header">
            <div class="back_img">
                <div class="img">
                    <img src="assets/img/header.png" alt="header">
                </div>
            </div>
        </div>
    </div>
</div>