.header {
    display: flex;
    width: 100%;
    margin-top: 3%;
    background: #E6CCB2;
    border-radius: 1%;
    height: 100%;
}

.header .content_text {
    background: transparent;
}

.header .content_header .text_header,
.header .content_header .img_header {
    width: 40%;
    background: transparent;
}

.header .content_header,
.header .btns {
    display: flex;
    flex-direction: row;
    background: transparent;
}

.header .content_header .text_header .title_header,
.header .content_header .text_header .sub_title_header {
    background: transparent;
}

.header .content_header .text_header,
.text_header .sub_title_header {
    text-align: center;
    width: 100%;
}

.text_header .title_header h1 {
    font-size: 80px;
    width: 100%;
    background: transparent;
    margin-top: 20%;
    margin-left: -100px;
}

.text_header .sub_title_header h5 {
    font-size: 30px;
    text-align: center;
    background: transparent;
    margin-left: -100px;
    font-weight: 500;
}

.header .btns {
    width: 100%;
    justify-content: center;
    margin-top: 5%;
    gap: 20px;
    margin-left: -50px;
    background: transparent;
}

button {
    border-radius: 50px;
    width: 150px;
    height: 50px;
    font-size: 25px;
    color: #7F5539;
    cursor: pointer;
    background: transparent;
}

.first_btn button {
    background: #EDE0D4;
    border: 3px solid #EDE0D4;
}
.second_btn button {
    border: 3px solid #7F5539;
}

.first_btn,
.second_btn {
    background: transparent;
}


.first_btn button:hover,
.second_btn button:hover,
.first_btn button:focus,
.second_btn button:focus {
    border: none;
    background: #7F5539;
    color: #ede0d4;
}

.header .img_header .back_img,
.img {
    background: transparent;

}

.header .img_header .back_img img {
    background: transparent;
    width: 150%;
    border-radius: 10%;
    margin-left: -50%;
    display: flex;
    margin-top:90px
}


/* animation */
img  {
  transform: translateX(-100%);
  opacity: 0;
  animation:img  1s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes img {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.text_header  {
  transform: translateX(100%);
  opacity: 0;
  animation:text_header  1s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes text_header {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* responsive part */

@media(max-width:1300px) {
    .text_header .title_header h1 {
        font-size: 50px;
        width: 60%;
        background: transparent;
        margin-top: 10%;
        margin-left: 50px;
    }

    .text_header .sub_title_header h5 {
        font-size: 30px;
        text-align: center;
        background: transparent;
        margin-top: 20px;
        margin-left: -250px;
    }

    .header .btns {
        margin-left: -115px;

    }
}

@media(max-width:1000px) {
    .text_header .title_header h1 {
        font-size: 45px;
        width: 70%;
        background: transparent;
        margin-top: 10%;
        margin-left: 50px;
    }

    .text_header .sub_title_header h5 {
        font-size: 25px;
        text-align: center;
        background: transparent;
        margin-top: 20px;
        margin-left: -100px;
    }

    .header .btns {
        margin-left: -50px;

    }

    .header .img_header .back_img img {
        background: transparent;
        width: 400px;
        border-radius: 10%;
        display: flex;
        margin-left: -16%;
        margin-top: 15px;
    }

}

@media(max-width:830px) {
    .header .img_header .back_img img {
        margin-left: -30%;
    }
}

@media(max-width:760px) {
    .text_header .title_header h1 {
        font-size: 40px;
        width: 70%;
        background: transparent;
        margin-top: 10%;
        margin-left: 45px;
    }

    .text_header .sub_title_header h5 {
        font-size: 20px;
        text-align: center;
        background: transparent;
        margin-top: 20px;
        margin-left: -50px;
    }

    .header .btns {
        margin-left: -30px;

    }

    .header .img_header .back_img img {
        background: transparent;
        width: 150%;
        border-radius: 10%;
        margin-left: -50%;
        margin-top: 80px;
        display: flex;
    }

}

@media(max-width:600px) {
    .text_header .title_header h1 {
        font-size: 30px;
        width: 70%;
        background: transparent;
        margin-top: 10%;
        margin-left: 5px;
    }

    .text_header .sub_title_header h5 {
        font-size: 16px;
        text-align: center;
        background: transparent;
        margin-top: 20px;
        margin-left: -100px;
    }

    .second_btn,
    .first_btn {
        display: none;
    }

    .header .img_header .back_img img {
        margin-top: 10%;
    }
}

@media(max-width:500px) {
.header {
    display: flex;
    width: 100%;
    margin-top: 10%;
    background: #E6CCB2;
    border-radius: 1%;
    height: 100%;
}
      /* .header .content_text {
        width:70%
      }
    .header .content_header .text_header,
    .header .content_header .img_header {
        width: 100%;
    }

    .header .content_header .img_header {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .header .content_header .text_header {
        z-index: 1;
        width: 150%
    } */
}

@media(max-width:420px) {
    .header {
        position: relative;
        overflow: hidden;
    }

    .header .content_header .img_header {
        display: none;
    }

    .header .content_header .text_header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../../../assets/img/header.png) no-repeat center center / cover;
        filter: blur(3px);
        z-index: -1;
    }

    .header .content_text {
        background: rgba(237, 224, 212, 0.6);
        margin-top: -20px;
        display: grid;
    }

    .text_header .title_header h1 {
        font-size: 30px;
        width: 80%;
        background: transparent;
        margin-top: 10%;
        margin-left: 25px;

    }

    .text_header .sub_title_header h5 {
        font-size: 16px;
        text-align: center;
        background: transparent;
        margin-top: 20px;
        margin-left: 00px;
    }
}