<div class="contanier">
    <div class="content_ourSolution">
        <div class="text_content">
            <div class="title">
                Choose It. Click It. Wear It. Own Your Vibe. Define Your Style.
            </div>
            <div class="sub_title">
                Born From Passion, Styled For You.
            </div>
            <div class="btn">
                <button (click)="fashion()">
                    view more..
                </button>
            </div>
        </div>
        <div class="img_content">
            <img src="../../../assets/img/P.png" alt="">
        </div>
    </div>    
</div>