<div class="container_reset">
    <div class="carousel-container">
        <div class="carousel-slide" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
            
            <div class="content content_email">
                <form #myForm="ngForm" (ngSubmit)="GeTAccountByEmail()">
                    <div class="email transparent">
                        <input type="email" id="email" name="email" [(ngModel)]="email" required email
                            placeholder="  Email" #emailpsw="ngModel" />
                        @if (emailpsw.invalid && (emailpsw.dirty || emailpsw.touched)) {
                        <div class="alert">
                            @if (emailpsw.hasError('required')) {
                            <div class="alert">
                                Email is required.
                            </div>
                            }
                            @if (emailpsw.hasError('email')) {
                            <div class="alert">
                                Email not valid.
                            </div>
                            }
                        </div>
                        }
                    </div>

                    <button type="submit"> send</button>
                    @if(errorEmail){
                    <div class="message">
                        <div class="error_message">
                            {{ errorEmail }}
                        </div>
                    </div>
                    }
                </form>
            </div>
            <div class="content content_code">
                <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
                    <h1>Enter Verification Code</h1>
                    <div class="code">
                        <p>Enter the 6-digit code we sent to your email</p>
                        <input type="text" name="code" id="code" minlength="6" [(ngModel)]="code" #codeRef="ngModel"
                            required maxlength="6" placeholder="  Code ..">
                    </div>

                    <button type="submit"> send</button>
                    @if(error){
                    <div class="message">
                        <div class="error_message">
                            {{ error }}
                        </div>
                    </div>
                    }
                </form>
            </div>
            <div class="content content_passwords">
                <form #form="ngForm" (ngSubmit)="resetPassword(form)" class="">
                    <h1>Enter New Password</h1>
                    <p>Your new password must be different from previously used password</p>
                    <input type="password" name="psw" id="psw" minlength="4" [(ngModel)]="psw" #pswRef="ngModel"
                        required placeholder="  Password">
                    @if(form.invalid){
                    @if (pswRef.invalid && (pswRef.dirty || pswRef.touched)){
                    @if(pswRef.hasError('minlength')) {
                    <div class="alert">
                        Password must be at least 4 characters long.
                    </div>
                    }
                    @if(pswRef.hasError('required')) {
                    <div class="alert">
                        Password is required.
                    </div>
                    }
                    }
                    }
                    <input type="password" name="confirmationpsw" id="confirmationpsw" minlength="4" required
                        [(ngModel)]="confirmationpsw" #confirmationpswRef="ngModel"
                        placeholder="  Confirmation Password">
                    @if(form.invalid){
                    @if (confirmationpswRef.invalid && (confirmationpswRef.dirty || confirmationpswRef.touched)){
                    @if(confirmationpswRef.hasError('minlength')) {
                    <div class="alert">
                        Confirmation Password must be at least 4 characters long.
                    </div>
                    }
                    @if(confirmationpswRef.hasError('required')) {
                    <div class="alert">
                        Confirmation Password is required.
                    </div>
                    }
                    }
                    }

                    <button type="submit">
                        save
                    </button>
                    @if(passwordError){
                    <div class="alert">
                        {{passwordError}}
                    </div>
                    }
                </form>

            </div>

        </div>
    </div>
</div>